@import "../../Global";

.profile {
  position: relative;
  margin: 0 15px 30px;

  .topProfile {
    width: 250px;
    height: 250px;
    background-color: $lightDarkColor;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    .socialMedia {
      position: absolute;
      z-index: 0;
      color: $lightColor;
      transition: all .3s ease;
      top: 100px;
      left: 43px;

      .firstIcon {
        margin-left: 0 !important;
      }

      .socialMediaIcon {
        padding: 10px;
        background-color: $primaryColor;
        margin-left: -15px;
        border-radius: 50%;
        transition: all .2s ease;

        &:hover {
          font-size: 35px;
          filter: brightness(130%);
        }
      }
    }

    .profileImg {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      transition: all .3s ease;
    }

    &:hover {
      .socialMedia {
        z-index: 1;
      }

      .profileImg {
        z-index: 0;
        filter: brightness(30%);
      }
    }
  }

  .profileName {
    background-color: $primaryColor;
    padding: 10px 17px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: .5px;
    color: $lightColor;
    top: 230px;
    left: 20%;
    right: 20%;
    text-align: center;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      filter: brightness(120%);
    }
  }

  .bottomProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $lightDarkColor;
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding-top: 35px;
    padding-bottom: 15px;

    .profileTitle {
      color: $lightDarkColor;
      font-weight: 600;
    }

    hr {
      border-top: 1px solid $lightDarkColor;
      width: 100px;
      margin: 15px 0;
    }

    .profileContact {
      color: $lightColor;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;

      .icon {
        font-size: 20px;
      }
    }
  }
}
