@import "../../Global";

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .titleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    color: $darkColor;

    .titleText {
      margin: 0 25px;

      .alternateText1 {
        color: $darkColor;
      }

      @include mobile {
        font-size: 20px;
        margin: 0 10px;
      }
    }
  }

  .diamondWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .alternateText1 {
    color: $primaryColor;
  }

  .alternateText2 {
    color: $lightColor;
  }

  .subtitleText {
    color: $lightDarkColor;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
