@import "../../Global";

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titleText {
    font-weight: 900;
    font-size: 30px;
    color: $darkColor;
  }

  .alternateTitleText {
    color: $lightColor;
  }

  .subtitleText {
    color: $lightDarkColor;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
