@import "../../Global";

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: $darkColor;

  @include semimobile {
    padding: 75px;
  }

  @include mobile {
    padding: 50px;
  }

  .progressContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
