@import "../../Global";

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;

  .offerContainer {
    display: flex;
    gap: 20px;
  }
}
