@import "../../Global";

.organization {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  background-color: $darkColor;

  .profileWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .button {
    margin: 30px 0 0;
    text-align: center;
    padding: 15px 150px;
    background-color: $primaryColor;
    color: $lightColor;
  }
}
