@import "../../Global";

.organization {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  background-color: $darkColor;

  @include tablet {
    padding: 50px;
  }

  @include mobile {
    padding: 50px 10px;
  }

  .profileWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .button {
    text-align: center;
    padding: 15px 150px;
    background-color: $primaryColor;
    color: $lightColor;

    @include tablet {
      padding: 15px;
    }
  }
}
