@import "../../../Global";

.company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $darkColor;
  filter: brightness(90%);
  padding: 10px 50px;
  border-radius: 7px;
  width: 100px;
  cursor: pointer;
  transition: all .2s ease;
  margin-bottom: 15px;

  .icon {

  }

  .name {
    color: $lightDarkColor;
    font-weight: 900;
    font-size: 25px;

    @include mobile {
      font-size: 15px;
    }
  }
}

.company:hover {
  filter: brightness(120%);
}
